SUPABASE_PROJECT_ID="xzkvsjdaxwbvowtnwxbt"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_He6Q7y7rCiEBF8-3bNFcgA_-4HStVoX"
SUPABASE_URL="https://xzkvsjdaxwbvowtnwxbt.supabase.co"
VITE_SUPABASE_PROJECT_ID="xzkvsjdaxwbvowtnwxbt"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_He6Q7y7rCiEBF8-3bNFcgA_-4HStVoX"
VITE_SUPABASE_URL="https://xzkvsjdaxwbvowtnwxbt.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6a3ZzamRheHdidm93dG53eGJ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTA1NTU3NywiZXhwIjoyMTAwNjMxNTc3fQ.ziqaQ9NG8abSMM3VjUir0sm1ZhI2CKV_eRkqJSgvnw8"
ADMIN_PORTAL_PASSWORD="admin@123"
ADMIN_PORTAL_TOKEN_SECRET="iWJYsvKNApl80qHO2LCz5FGMexwBthr1bXdo3QDuZPj4ST9y"  